{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">
    <div class="jumbotron text-center">

        <div class="message">
        <h1>Bienvenue sur le site FB Rénovation</h1>
        <h2>Notre entreprise vous propose ses services</h2>
            <img src="{{asset('uploads/images/49f50256b2a3396e3844bc427b1d89f2.jpeg')  }}" alt="" style="max-width: 70%;height: auto;">
        </div>
    </div>
        <hr>
        <div class="MessageForm">
        <h3>Contactez nous!</h3>
        </div>
    {% if app.user %}
        <div id="Contact" class="col-mt-4"></div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col"> {{ form_row(form.firstname,{'label': "Prénom"}) }}</div>
            <div class="col"> {{ form_row(form.lastname,{'label': 'Nom'}) }}</div>
        </div>
        <div class="row">
            <div class="col"> {{ form_row(form.phone,{'label':"Numéro de téléphone"}) }}</div>
            <div class="col"> {{ form_row(form.email,{'label': 'Adresse Email'}) }}</div>
        </div>
    <div class="row">
        <div class="col"> {{ form_row(form.message,{'label':"Message"}) }}</div>
        <div class="col"> {{ form_row(form.image,{'label':"Choisir un image"}) }}</div>
    </div>
        {{ form_row(form.envoyer) }}
        {{ form_end(form) }}
    {% else %}
    Veuillez vous connecter pour nous contacter!
        <br>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>

        <a href="{{ path('security_registration') }}" class="btn btn-success">Inscrivez vous!</a>
    {% endif %}

</div>

{% endblock %}