{% extends 'base.html.twig' %}
{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="articles">

        {% for article in articles %}
            <div class="jumbotron">
            <div class="jumbotron text-center">
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i')}} </div>
            <style>
                .img{
                    max-width: 100%;
                    height: auto;
                }
            </style>
            <div class="content">
                <div class="image">
                <img src="{{asset('uploads/images/') ~ article.image }}" alt="" style="max-width: 100%;height: auto;">
                </div>

                <hr>
                    <div class="align-content-left">
                        {{ article.content | raw}}
                    </div>
            {#<div class="etst"
           {{ article.content | raw}}
            </div>#}
            </div>
            </div>
            <style>
                a.btn-primary{
                    display: flex; justify-content: center;
                }

                div.align-content-left{

                    text-align: left;
                }

            </style>
                <a href="{{ path('show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>

            </div>






        {% endfor %}





{% endblock %}