<h1>Nouvelle demande!</h1>
<p> Nom:{{ contact.lastname }}</p>
<p> Prénom:{{ contact.firstname }}</p>
<p> email:{{ contact.email }}</p>
<p> Numéro de téléphone :{{ contact.phone }}</p>
<p> Illustration de la demande:</p>
<img src="{{ absolute_url(asset('{{contact.image }}')) }}">
<img src="{{ absolute_url(asset('uploads/images/')) ~ contact.image }}" alt="" >
<p> Contenu de la demande:{{ contact.message |raw }}</p>